body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:659px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:270px;
}
#u8313 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:460px;
  width:439px;
  height:270px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8314 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  word-wrap:break-word;
}
#u8315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:360px;
}
#u8315 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:90px;
  width:640px;
  height:360px;
}
#u8316 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:172px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
