body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:500px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u5606 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:1000px;
  height:500px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u5607 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:242px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:500px;
}
#u5608 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:419px;
  height:500px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u5609 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:242px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:180px;
}
#u5610 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:386px;
  width:337px;
  height:180px;
}
#u5611 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:82px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u5612 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:137px;
  width:73px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u5613 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:31px;
}
#u5614 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:332px;
  width:300px;
  height:31px;
}
#u5615 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u5616_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:49px;
  height:49px;
}
#u5616 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:261px;
  width:47px;
  height:47px;
}
#u5617 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u5618 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:278px;
  width:16px;
  height:14px;
}
#u5619 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5620_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:49px;
  height:49px;
}
#u5620 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:262px;
  width:47px;
  height:47px;
}
#u5621 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u5622 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:278px;
  width:16px;
  height:16px;
}
#u5623 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5624_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:49px;
  height:49px;
}
#u5624 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:261px;
  width:47px;
  height:47px;
}
#u5625 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:40px;
}
#u5626 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:265px;
  width:42px;
  height:40px;
}
#u5627 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:46px;
}
#u5628 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:192px;
  width:300px;
  height:46px;
}
#u5629 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u5630_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u5630 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:137px;
  width:73px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u5631 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5632_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:35px;
  background:inherit;
  background-color:rgba(68, 166, 246, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 255, 1);
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5632 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:531px;
  width:133px;
  height:35px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5633 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:129px;
  word-wrap:break-word;
}
#u5634_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u5634 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:286px;
  width:53px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u5635 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u5636 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:195px;
  width:53px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#999999;
}
#u5637 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u5638 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:221px;
  width:422px;
  height:46px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u5639 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u5640 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:312px;
  width:422px;
  height:194px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u5641 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:89px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
