body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:503px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:625px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:27px;
  width:490px;
  height:625px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:304px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
