body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:318px;
}
#u8283 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:470px;
  width:440px;
  height:318px;
}
#u8284 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  word-wrap:break-word;
}
#u8285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:360px;
}
#u8285 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:640px;
  height:360px;
}
#u8286 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:172px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
