body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:863px;
  height:500px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u5916 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:100px;
  width:863px;
  height:500px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u5917 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:242px;
  width:859px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:500px;
  background:inherit;
  background-color:rgba(0, 188, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 188, 213, 1);
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u5918 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:137px;
  height:500px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u5919 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:242px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:56px;
  background:inherit;
  background-color:rgba(134, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u5920 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:212px;
  width:137px;
  height:56px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u5921 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u5922 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:119px;
  width:27px;
  height:18px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u5923 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u5924 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:175px;
  width:27px;
  height:18px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u5925 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5926 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:176px;
  width:15px;
  height:15px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u5927 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5928 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:232px;
  width:15px;
  height:15px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u5929 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5930 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:287px;
  width:15px;
  height:15px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u5931 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5932 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:342px;
  width:15px;
  height:15px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u5933 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5934_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u5934 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:231px;
  width:27px;
  height:18px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u5935 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5936_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u5936 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:286px;
  width:27px;
  height:18px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u5937 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5938_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u5938 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:341px;
  width:27px;
  height:18px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u5939 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u5940 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:119px;
  width:15px;
  height:16px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u5941 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5942_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:814px;
  height:481px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u5942 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:119px;
  width:814px;
  height:481px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u5943 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:232px;
  width:810px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5944_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:814px;
  height:51px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u5944 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:119px;
  width:814px;
  height:51px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u5945 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:810px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u5946 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:137px;
  width:27px;
  height:18px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u5947 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:18px;
}
#u5948 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:137px;
  width:248px;
  height:18px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u5949 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  white-space:nowrap;
}
#u5950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u5950 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:134px;
  width:22px;
  height:22px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
}
#u5951 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5952 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:192px;
  width:770px;
  height:58px;
}
#u5953 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:766px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:299px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5954 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:272px;
  width:770px;
  height:299px;
}
#u5955 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:142px;
  width:766px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
}
#u5956 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:213px;
  width:92px;
  height:18px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u5957 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u5958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:18px;
}
#u5958 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:337px;
  width:92px;
  height:18px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u5959 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u5960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5960 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:291px;
  width:15px;
  height:15px;
}
#u5961 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5962 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:291px;
  width:15px;
  height:15px;
}
#u5963 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:19px;
}
#u5964 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:288px;
  width:5px;
  height:19px;
  font-family:'微軟正黑體';
  font-weight:700;
  font-style:oblique;
  font-size:16px;
  color:#666666;
}
#u5965 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  white-space:nowrap;
}
#u5966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:19px;
}
#u5966 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:288px;
  width:13px;
  height:19px;
  font-family:'微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u5967 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u5968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:19px;
}
#u5968 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:288px;
  width:13px;
  height:19px;
  font-family:'微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u5969 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u5970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5970 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:291px;
  width:15px;
  height:15px;
}
#u5971 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 188, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5972 {
  border-width:0px;
  position:absolute;
  left:828px;
  top:127px;
  width:128px;
  height:35px;
  color:#FFFFFF;
}
#u5973 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:124px;
  word-wrap:break-word;
}
