body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8309_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:288px;
}
#u8309 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:507px;
  width:439px;
  height:288px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8310 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  word-wrap:break-word;
}
#u8311_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:346px;
}
#u8311 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:600px;
  height:346px;
}
#u8312 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:165px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
