body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:383px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
.u8413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:189px;
}
.u8413 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:189px;
  height:189px;
}
.u8414 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:86px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
.u8415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
.u8415 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:204px;
  width:189px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
.u8416 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  word-wrap:break-word;
}
.u8417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.u8417 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:245px;
  width:80px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.u8418 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
.u8419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
.u8419 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:245px;
  width:100px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
.u8420 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
.u8421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:2px;
}
.u8421 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:270px;
  width:188px;
  height:1px;
}
.u8422 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8412-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:271px;
}
#u8412-2 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:0px;
  width:189px;
  height:271px;
}
#u8412-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:276px;
  width:189px;
  height:271px;
}
#u8412-4 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:276px;
  width:189px;
  height:271px;
}
#u8412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:383px;
  height:547px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
